.deprecation-banner {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  font-weight: 500;
}

.deprecation-text {
  font-size: 0.875rem; /* Equivalent to text-sm */
}

.deprecation-link {
  color: #fb568a;
  text-decoration: none;
}

.deprecation-link:hover {
  text-decoration: underline;
}
