.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background: linear-gradient(
        45deg,
        var(--yellow),
        var(--yellow) 25%,
        var(--darkyellow) 25%,
        var(--darkyellow) 50%,
        var(--yellow) 50%,
        var(--yellow) 75%,
        var(--darkyellow) 75%,
        var(--darkyellow)
    );
    background-size: 50px 50px;
    border-radius: 20px 20px 0px 0px;
}

.footer a {
    text-decoration: none;
    color: var(--brown);
    font-size: 0.8em;
    font-family: Gotham, Sans-serif;
    font-weight: 800;
}
